In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_excel("multi data.xlsx")
df

   area   bedrooms  age   price
0   2600       3.0   20  550000
1   3000       4.0   15  565000
2   3200       NaN   18  610000
3   3600       3.0   30  595000
4   4000       5.0    8  760000

In [3]:
import math
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [10]:
df['bedrooms']=df['bedrooms'].fillna(median_bedrooms)
df

   area   bedrooms  age   price
0   2600       3.0   20  550000
1   3000       4.0   15  565000
2   3200       3.0   18  610000
3   3600       3.0   30  595000
4   4000       5.0    8  760000

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg=LinearRegression()

In [13]:
#  Set dependent and independent variables

X = df.drop(['price'], axis=1)
y = df['price']

In [14]:
# Change bedrooms data type flaot to int

df['bedrooms'] = df['bedrooms'].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      5 non-null      int64
 1   bedrooms  5 non-null      int64
 2   age       5 non-null      int64
 3   price     5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [23]:
reg.fit( X, y  )

LinearRegression()

In [24]:
reg.predict([[ 4000, 2, 50 ]])

C:\Users\aishw\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([539425.])

In [25]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [26]:
reg.intercept_

383724.9999999998

In [27]:
score = reg.score( X, y )

print(score * 100)

94.88817891373805